@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.v-application {
  background: none !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

